@page
@model Mascota.App.Frontend.Pages.DetailsVetModel
@{
}
<h2>Id:@Model.Veterinario.Id</h2>
<div>
    Nombre: @Model.Veterinario.Nombre
</div>
<div>
    Apellidos: @Model.Veterinario.Apellidos
</div>
<div>
    Identificacion: @Model.Veterinario.Identificacion
</div>
<div>
    Telefono: @Model.Veterinario.Telefono
</div>
<div>
    Direccion: @Model.Veterinario.TarjetaProfesional
</div>