@page
@model Mascota.App.Frontend.Pages.DetailsPetModel
@{
}
<h2>Id:@Model.Pet.Id</h2>
<div>
    Nombre: @Model.Pet.Nombre
</div>
<div>
    Apellidos: @Model.Pet.Tipo
</div>
<div>
    Identificacion: @Model.Pet.Temperatura
</div>
<div>
    Telefono: @Model.Pet.Peso
</div>
<div>
    Direccion: @Model.Pet.FrecuenciaRespiratoria
</div>
<div>
    Direccion: @Model.Pet.FrecuenciaCardiaca
</div>
<div>
    Direccion: @Model.Pet.Estado_Animo
</div>
<a asp-page="./ListPet" class="btn btn-success">Regresar</a>