@page
@model Mascota.App.Frontend.Pages.PropietarioModel
@{
}
<h1>Listado de Propietarios</h1>

<table class="table">
    @foreach (var propietario in Model.Propietarios)
    {
        <tr>
            <td>@propietario.Id</td>
            <td>@propietario.Nombre</td>
            <td>@propietario.Apellido</td>
            <td>@propietario.cedula</td>
            <td>@propietario.Telefono</td>
            <td>@propietario.Direccion</td>

        </tr>
    }
</table>
