@page
@model Mascota.App.Frontend.Pages.VeterinarioModel
@{
}
<h1>Listado de Veterinarios</h1>

<table class="table">
    @foreach (var veterinario in Model.Veterinarios)
    {
        <tr>
            <td>@veterinario.Id</td>
            <td>@veterinario.Nombre</td>
            <td>@veterinario.Apellido</td>
            <td>@veterinario.cedula</td>
            <td>@veterinario.TarjetaProfesional</td>
            <td>@veterinario.Telefono</td>

        </tr>
    }
</table>
